# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

w2l/lm/
w2l/LibriSpeech/
w2l/emission_logs/
w2l/rawEmission.bin
w2l/aboutM/
w2l/zd@user-System-product-name:~/
w2l/zeros/
w2l/data/dev-clean/
w2l/data/train-clean-101/
w2l/data/train-clean-100/
w2l/data/test-clean/
w2l/saved_models/
w2l/zero/
w2l/decode_asg_logs/
w2l/reduct_audio/

wav2letter/build/
wav2letter/fft_npy_txt/
wav2letter/oldbuild/
wav2letter/

.DS_Store
